<a href="https://colab.research.google.com/github/najiaahmedd/CIND820/blob/main/Descriptive_Stats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
projectdata<-read.csv("projectdata.csv")
head(projectdata)

  Year Seq  Glide Disaster.Group Disaster.Subgroup Disaster.Type
1 1900 9002       Natural        Climatological    Drought
2 1900 9001       Natural        Climatological    Drought
3 1902   12       Natural        Geophysical       Earthquake
4 1902    3       Natural        Geophysical       Volcanic activity
5 1902   10       Natural        Geophysical       Volcanic activity
6 1903    6       Natural        Geophysical       Mass movement (dry)
  Disaster.Subtype Disaster.Subsubtype Event.Name  Country    ⋯ No.Affected
1 Drought                                          Cabo Verde ⋯ NA
2 Drought                                          India      ⋯ NA
3 Ground movement                                  Guatemala  ⋯ NA
4 Ash fall                             Santa Maria Guatemala  ⋯ NA
5 Ash fall                             Santa Maria Guatemala  ⋯ NA
6 Rockfall                                         Canada     ⋯ NA
  No.Homeless Total.Affected Insured.Damages...000.US..
1 NA          NA             NA
2 NA          NA             NA
3 NA          NA             NA
4 NA          NA             NA
5 NA          NA             NA
6 NA          23             NA
  Total.Damages...000.US.. CPI      Adm.Level Admin1.Code Admin2.Code
1    NA                    3.221647
2    NA                    3.221647
3 25000                    3.350513
4    NA                    3.350513
5    NA                    3.350513
6    NA                    3.479379
  Geo.Locations
1
2
3
4
5
6

In [5]:
str(projectdata)

'data.frame':	16126 obs. of  45 variables:
 $ Year                      : int  1900 1900 1902 1902 1902 1903 1903 1904 1905 1905 ...
 $ Seq                       : int  9002 9001 12 3 10 6 12 3 5 3 ...
 $ Glide                     : chr  "" "" "" "" ...
 $ Disaster.Group            : chr  "Natural" "Natural" "Natural" "Natural" ...
 $ Disaster.Subgroup         : chr  "Climatological" "Climatological" "Geophysical" "Geophysical" ...
 $ Disaster.Type             : chr  "Drought" "Drought" "Earthquake" "Volcanic activity" ...
 $ Disaster.Subtype          : chr  "Drought" "Drought" "Ground movement" "Ash fall" ...
 $ Disaster.Subsubtype       : chr  "" "" "" "" ...
 $ Event.Name                : chr  "" "" "" "Santa Maria" ...
 $ Country                   : chr  "Cabo Verde" "India" "Guatemala" "Guatemala" ...
 $ ISO                       : chr  "CPV" "IND" "GTM" "GTM" ...
 $ Region                    : chr  "Western Africa" "Southern Asia" "Central America" "Central America" ...
 $ Continent                 : chr  "Africa" "Asia" "Americas" "Americas" ...
 $ Location                  : chr  "Countrywide" "Bengal" "Quezaltenango, San Marcos" "" ...
 $ Origin                    : chr  "" "" "" "" ...
 $ Associated.Dis            : chr  "Famine" "" "Tsunami/Tidal wave" "" ...
 $ Associated.Dis2           : chr  "" "" "" "" ...
 $ OFDA.Response             : chr  "" "" "" "" ...
 $ Appeal                    : chr  "No" "No" "" "" ...
 $ Declaration               : chr  "No" "No" "" "" ...
 $ Aid.Contribution          : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Dis.Mag.Value             : int  NA NA 8 NA NA NA NA NA NA 8 ...
 $ Dis.Mag.Scale             : chr  "Km2" "Km2" "Richter" "" ...
 $ Latitude                  : chr  "" "" "14" "" ...
 $ Longitude                 : chr  "" "" "-91" "" ...
 $ Local.Time                : chr  "" "" "20:20" "" ...
 $ River.Basin               : chr  "" "" "" "" ...
 $ Start.Year                : int  1900 1900 1902 1902 1902 1903 1903 1904 1905 1905 ...
 $ Start.Month               : int  NA NA 4 4 10 4 NA 11 8 4 ...
 $ Start.Day                 : int  NA NA 18 8 24 29 NA NA 13 4 ...
 $ End.Year                  : int  1900 1900 1902 1902 1902 1903 1903 1904 1905 1905 ...
 $ End.Month                 : int  NA NA 4 4 10 4 NA 11 8 4 ...
 $ End.Day                   : int  NA NA 18 8 24 29 NA NA 13 4 ...
 $ Total.Deaths              : int  11000 1250000 2000 1000 6000 76 17 NA 18 20000 ...
 $ No.Injured                : int  NA NA NA NA NA 23 NA NA 18 NA ...
 $ No.Affected               : int  NA NA NA NA NA NA NA NA NA NA ...
 $ No.Homeless               : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Total.Affected            : int  NA NA NA NA NA 23 NA NA 18 NA ...
 $ Insured.Damages...000.US..: int  NA NA NA NA NA NA NA NA NA NA ...
 $ Total.Damages...000.US..  : int  NA NA 25000 NA NA NA NA NA NA 25000 ...
 $ CPI                       : num  3.22 3.22 3.35 3.35 3.35 ...
 $ Adm.Level                 : chr  "" "" "" "" ...
 $ Admin1.Code               : chr  "" "" "" "" ...
 $ Admin2.Code               : chr  "" "" "" "" ...
 $ Geo.Locations             : chr  "" "" "" "" ...

In [6]:
data1 <- na.omit(projectdata)
str(data1)

'data.frame':	14 obs. of  45 variables:
 $ Year                      : int  1992 1997 1998 1995 1997 1997 1999 1999 2001 1999 ...
 $ Seq                       : int  22 179 165 16 142 267 16 391 33 268 ...
 $ Glide                     : chr  "" "" "" "" ...
 $ Disaster.Group            : chr  "Natural" "Natural" "Natural" "Natural" ...
 $ Disaster.Subgroup         : chr  "Geophysical" "Meteorological" "Hydrological" "Geophysical" ...
 $ Disaster.Type             : chr  "Earthquake" "Storm" "Flood" "Earthquake" ...
 $ Disaster.Subtype          : chr  "Ground movement" "Tropical cyclone" "Riverine flood" "Ground movement" ...
 $ Disaster.Subsubtype       : chr  "" "" "" "" ...
 $ Event.Name                : chr  "" "Winnie" "" "" ...
 $ Country                   : chr  "Turkey" "China" "China" "Japan" ...
 $ ISO                       : chr  "TUR" "CHN" "CHN" "JPN" ...
 $ Region                    : chr  "Western Asia" "Eastern Asia" "Eastern Asia" "Eastern Asia" ...
 $ Continent                 : chr  "Asia" "Asia" "Asia" "Asia" ...
 $ Location                  : chr  "Erzican province" "Zhejiang, Anhui provinces" "Hubei, Hunan, Sichuan, Jiangxi, Fujian, Guanxi Provinces" "Kobe, Osaka, Hyigo, Kyoto prefecture" ...
 $ Origin                    : chr  "" "" "Heavy rains" "" ...
 $ Associated.Dis            : chr  "Slide (land, mud, snow, rock)" "Flood" "Broken Dam/Burst bank" "Fire" ...
 $ Associated.Dis2           : chr  "" "" "" "" ...
 $ OFDA.Response             : chr  "Yes" "" "Yes" "" ...
 $ Appeal                    : chr  "No" "No" "No" "No" ...
 $ Declaration               : chr  "No" "No" "No" "No" ...
 $ Aid.Contribution          : int  11213 253 131738 13557 5046 10473 32129 1583 118929 116413 ...
 $ Dis.Mag.Value             : int  7 180 250000 7 34990 102 6 200 8 8 ...
 $ Dis.Mag.Scale             : chr  "Richter" "Kph" "Km2" "Richter" ...
 $ Latitude                  : chr  "39.710 N" "" "" "34.58 N" ...
 $ Longitude                 : chr  "39.605 E" "" "" "135.0 E " ...
 $ Local.Time                : chr  "20:19" "" "" "05:46" ...
 $ River.Basin               : chr  "" "" "Yang-Tsé Kiang" "" ...
 $ Start.Year                : int  1992 1997 1998 1995 1997 1997 1999 1999 2001 1999 ...
 $ Start.Month               : int  3 8 7 1 7 11 1 9 1 8 ...
 $ Start.Day                 : int  13 15 1 17 2 2 25 12 26 17 ...
 $ End.Year                  : int  1992 1997 1998 1995 1997 1997 1999 1999 2001 1999 ...
 $ End.Month                 : int  3 8 8 1 7 11 1 10 1 8 ...
 $ End.Day                   : int  13 21 30 17 24 4 25 29 26 17 ...
 $ Total.Deaths              : int  653 140 3656 5297 29 3682 1186 636 20005 17127 ...
 $ No.Injured                : int  3850 3000 123000 34492 2409 857 8563 60 166812 43953 ...
 $ No.Affected               : int  250000 790000 223000000 255843 87725 697225 745000 530000 4365000 715000 ...
 $ No.Homeless               : int  95000 44000 15850000 251301 11973 383045 452370 86000 1790000 600000 ...
 $ Total.Affected            : int  348850 837000 238973000 541636 102107 1081127 1205933 616060 6321812 1358953 ...
 $ Insured.Damages...000.US..: int  10800 15000 301200 3000000 310000 5000 100000 55000 100000 2000000 ...
 $ Total.Damages...000.US..  : int  750000 2700000 30000000 100000000 1850000 470000 1857366 451300 2623000 20000000 ...
 $ CPI                       : num  54.2 62 63 58.9 62 ...
 $ Adm.Level                 : chr  "" "" "" "" ...
 $ Admin1.Code               : chr  "" "" "" "" ...
 $ Admin2.Code               : chr  "" "" "" "" ...
 $ Geo.Locations             : chr  "" "" "" "" ...
 - attr(*, "na.action")= 'omit' Named int [1:16112] 1 2 3 4 5 6 7 8 9 10 ...
  ..- attr(*, "names")= chr [1:16112] "1" "2" "3" "4" ...

In [2]:
data2<-read.csv("projectfiles.csv")
head(data2)

  Dis.No        Year Seq Glide Disaster.Group Disaster.Subgroup Disaster.Type
1 1970-0013-ARG 1970  13       Natural        Hydrological      Flood
2 1970-0109-AUS 1970 109       Natural        Meteorological    Storm
3 1970-0044-BEN 1970  44       Natural        Hydrological      Flood
4 1970-0063-BGD 1970  63       Natural        Meteorological    Storm
5 1970-0026-BGD 1970  26       Natural        Meteorological    Storm
6 1970-0035-BGD 1970  35       Natural        Hydrological      Flood
  Disaster.Subtype Disaster.Subsubtype Event.Name ⋯ No.Homeless Total.Affected
1                                                 ⋯ NA                NA
2 Tropical cyclone                     Ada        ⋯ NA                NA
3                                                 ⋯ NA                NA
4 Tropical cyclone                                ⋯ NA           3648000
5                                                 ⋯ NA               110
6                                                 ⋯ NA          10000000
  Reconstruction.Costs...000.US.. Insured.Damages...000.US..
1 NA                              NA
2 NA                              NA
3 NA                              NA
4 NA                              NA
5 NA                              NA
6 NA                              NA
  Total.Damages...000.US.. CPI      Adm.Level Admin1.Code Admin2.Code
1 25000                    15.00128
2 72475                    15.00128
3   200                    15.00128
4 86400                    15.00128
5    NA                    15.00128
6 25000                    15.00128
  Geo.Locations
1
2
3
4
5
6

In [3]:
str(data2)

'data.frame':	14644 obs. of  47 variables:
 $ Dis.No                         : chr  "1970-0013-ARG" "1970-0109-AUS" "1970-0044-BEN" "1970-0063-BGD" ...
 $ Year                           : int  1970 1970 1970 1970 1970 1970 1970 1970 1970 1970 ...
 $ Seq                            : int  13 109 44 63 26 35 58 9005 37 54 ...
 $ Glide                          : chr  "" "" "" "" ...
 $ Disaster.Group                 : chr  "Natural" "Natural" "Natural" "Natural" ...
 $ Disaster.Subgroup              : chr  "Hydrological" "Meteorological" "Hydrological" "Meteorological" ...
 $ Disaster.Type                  : chr  "Flood" "Storm" "Flood" "Storm" ...
 $ Disaster.Subtype               : chr  "" "Tropical cyclone" "" "Tropical cyclone" ...
 $ Disaster.Subsubtype            : chr  "" "" "" "" ...
 $ Event.Name                     : chr  "" "Ada" "" "" ...
 $ Country                        : chr  "Argentina" "Australia" "Benin" "Bangladesh" ...
 $ ISO                            : chr  "ARG" "AUS" "BEN" "BGD" ...
 $ Region                         : chr  "South America" "Australia and New Zealand" "Western Africa" "Southern Asia" ...
 $ Continent                      : chr  "Americas" "Oceania" "Africa" "Asia" ...
 $ Location                       : chr  "Mendoza" "Queensland" "Atacora region" "Khulna, Chittagong" ...
 $ Origin                         : chr  "" "" "" "" ...
 $ Associated.Dis                 : chr  "" "" "" "" ...
 $ Associated.Dis2                : chr  "" "" "" "" ...
 $ OFDA.Response                  : chr  "" "" "Yes" "Yes" ...
 $ Appeal                         : chr  "" "" "" "" ...
 $ Declaration                    : chr  "" "" "" "" ...
 $ Aid.Contribution               : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Dis.Mag.Value                  : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Dis.Mag.Scale                  : chr  "Km2" "Kph" "Km2" "Kph" ...
 $ Latitude                       : chr  "" "" "" "" ...
 $ Longitude                      : chr  "" "" "" "" ...
 $ Local.Time                     : chr  "" "" "" "" ...
 $ River.Basin                    : chr  "" "" "" "" ...
 $ Start.Year                     : int  1970 1970 1970 1970 1970 1970 1970 1970 1970 1970 ...
 $ Start.Month                    : int  1 1 9 11 4 7 10 8 7 10 ...
 $ Start.Day                      : int  4 NA NA 12 13 NA 23 NA 21 2 ...
 $ End.Year                       : int  1970 1970 1970 1970 1970 1970 1970 1970 1970 1970 ...
 $ End.Month                      : int  1 1 9 11 4 7 10 NA 7 10 ...
 $ End.Day                        : int  4 NA NA 12 13 NA 23 NA 21 2 ...
 $ Total.Deaths                   : int  36 13 NA 300000 17 NA 300 NA 172 3 ...
 $ No.Injured                     : int  NA NA NA NA NA NA NA NA NA 10 ...
 $ No.Affected                    : int  NA NA NA 3648000 110 10000000 NA 10000000 104371 200 ...
 $ No.Homeless                    : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Total.Affected                 : int  NA NA NA 3648000 110 10000000 NA 10000000 104371 210 ...
 $ Reconstruction.Costs...000.US..: int  NA NA NA NA NA NA NA NA NA NA ...
 $ Insured.Damages...000.US..     : int  NA NA NA NA NA NA NA NA NA NA ...
 $ Total.Damages...000.US..       : int  25000 72475 200 86400 NA 25000 NA 100 46000 500 ...
 $ CPI                            : num  15 15 15 15 15 ...
 $ Adm.Level                      : chr  "" "" "" "" ...
 $ Admin1.Code                    : chr  "" "" "" "" ...
 $ Admin2.Code                    : chr  "" "" "" "" ...
 $ Geo.Locations                  : chr  "" "" "" "" ...

'data.frame':	1 obs. of  47 variables:
 $ Dis.No                         : chr "1999-0268-TUR"
 $ Year                           : int 1999
 $ Seq                            : int 268
 $ Glide                          : chr ""
 $ Disaster.Group                 : chr "Natural"
 $ Disaster.Subgroup              : chr "Geophysical"
 $ Disaster.Type                  : chr "Earthquake"
 $ Disaster.Subtype               : chr "Ground movement"
 $ Disaster.Subsubtype            : chr ""
 $ Event.Name                     : chr ""
 $ Country                        : chr "Turkey"
 $ ISO                            : chr "TUR"
 $ Region                         : chr "Western Asia"
 $ Continent                      : chr "Asia"
 $ Location                       : chr "Izmit, Kocaeli, Yalova, Golcuk, Zonguldak, Sakarya, Tekirdag, Istanbul, Bursa, Eskisehir, Bolu"
 $ Origin                         : chr ""
 $ Associated.Dis                 : chr ""
 $ Associated.Dis2                : chr ""
 $ OFDA.Response                  : chr "Yes"
 $ Appeal                         : chr ""
 $ Declaration                    : chr "Yes"
 $ Aid.Contribution               : int 116413
 $ Dis.Mag.Value                  : int 8
 $ Dis.Mag.Scale                  : chr "Richter"
 $ Latitude                       : chr "40.748"
 $ Longitude                      : chr "29.864"
 $ Local.Time                     : chr "03:02"
 $ River.Basin                    : chr ""
 $ Start.Year                     : int 1999
 $ Start.Month                    : int 8
 $ Start.Day                      : int 17
 $ End.Year                       : int 1999
 $ End.Month                      : int 8
 $ End.Day                        : int 17
 $ Total.Deaths                   : int 17127
 $ No.Injured                     : int 43953
 $ No.Affected                    : int 715000
 $ No.Homeless                    : int 600000
 $ Total.Affected                 : int 1358953
 $ Reconstruction.Costs...000.US..: int 25000000
 $ Insured.Damages...000.US..     : int 2000000
 $ Total.Damages...000.US..       : int 20000000
 $ CPI                            : num 64.4
 $ Adm.Level                      : chr ""
 $ Admin1.Code                    : chr ""
 $ Admin2.Code                    : chr ""
 $ Geo.Locations                  : chr ""
 - attr(*, "na.action")= 'omit' Named int [1:14643] 1 2 3 4 5 6 7 8 9 10 ...
  ..- attr(*, "names")= chr [1:14643] "1" "2" "3" "4" ...